<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome {{acctName}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple">
</head>
<style>
  body {
    font-family: 'Tangerine', serif;
  }
  .container {
    margin: auto;
    width: 50%;
    font-size: 30px;
    text-align: center;
  }
  .messege {
    font-size: 50px;
    text-align: center;
  }
</style>
<body>
  <div class="container">
    <h1><i class="fa fa-fort-awesome" aria-hidden="true"></i></i>Hi buddy({{acctName}}), Welcome!</h1>
    <div class="messege">
      <div class="font-effect-shadow-multiple">
        This is a messege page.
      </div>
    </div>

  </div>

</body>
</html>
